

/*
Vertical Spacing (for use with v-spacing mixin)
========================================================================== */
$VSM1: 10px;
$VSM2: 20px;
$VSM3: 30px;
$VSM4: 40px;
$VSD1: 20px;
$VSD2: 30px;
$VSD3: 40px;
$VSD4: 50px;


/*
Cursor Sizes
========================================================================== */
$cursor-base-size: 16px;


/*
Colours
========================================================================== */
$c-black: #000;
$c-white: #fff;



/*
Breakpoints
========================================================================== */
$breakpoints: (
	xsmall: 500px,
	small: 768px,
	medium: 1024px,
	large: 1440px,
	xlarge: 1920px,
	xxlarge: 2000px
);

/*
Fonts
========================================================================== */
$f-title: "T-Med", serif;



