@font-face {
  font-family: T-Med;
  font-style: normal;
  font-display: fallback;
  font-weight: 500; //medium
  src: url(../fonts/T-MED.woff2) format("woff2"), url(../fonts/T-MED.woff) format("woff");
}
