/* ======================================================

	V-SPACING CAN BE USED ON THINGS LIKE "margin-top" 
	"font-size" etc etc

====================================================== */

@mixin v-spacing($field, $mobile-size, $desktop-size) {
  #{$field}: get-linear-size($mobile-size, $desktop-size);

  @include media(">xxlarge") {
    #{$field}: $desktop-size;
  }
  @include media("<small") {
    #{$field}: $mobile-size;
  }
}

@mixin site-transition($type: all, $speed: 1s, $delay: 0s) {
  transition: $type $speed $delay cubic-bezier(0.83, 0, 0.17, 1);
}

@mixin button() {
  font-family: $f-title;
  outline: none;
  border: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: fit-content;
  background: transparent;
  cursor: pointer;
  color: unset;
  @include v-spacing(font-size, 18px, 26px);
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

@mixin titleOnGrid() {
  grid-column: 1 / -1;

  @include media(">medium") {
    grid-column: 3 / -3;
  }
}