.c-Header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @include v-spacing(padding, $VSM2, $VSD4);
  @include v-spacing(font-size, 18px, 26px);
  height: 100%;
  pointer-events: none;

  a {
    line-height: 1;
    display: block;
  }

  &__inner {
    display: flex;
    width: 100%;
    transform: translateY(-200%);
    position: relative;
    z-index: 9;
    pointer-events: all;

    > div {
      @include media(">small") {
        flex: 1;
      }
    }

    @include media("<small") {
      justify-content: center;
    }

    &-insta {
      display: none;
      position: relative;
      z-index: 3;
      pointer-events: all;

      @include media(">small") {
        display: block;
      }
    }

    &-logo {
      max-width: 100px;
      text-align: center;
      display: flex;
      justify-content: center;
      transform: translateY(-200%);
      position: relative;
      z-index: 3;
      pointer-events: all;

      @include media(">small") {
        max-width: 152px;
      }

      svg {
        width: 100%;
        height: auto;

        #logoRotate {
          transform-box: fill-box;
          transform-origin: center;
        }

        .ticking {
          animation: rotate 60s infinite steps(60);
        }
      }
    }

    &-toggle {
      display: none;
      justify-content: flex-end;
      position: relative;
      pointer-events: all;

      &-expander {
        position: absolute;
        top: -298vw;
        right: -293vw;
        width: 600vw;
        height: 600vw;
        border-radius: 50%;
        transform: scale(0);
        z-index: 1;
        display: block;
        background-color: var(--currentSupportTheme);

        @include media(">small") {
          top: -299vw;
          right: -296vw;
          width: 600vw;
          height: 600vw;
        }

        @include media(">large") {
          top: -119vw;
          right: -118vw;
          width: 240vw;
          height: 240vw;
        }
      }

      button {
        position: relative;
        z-index: 3;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
        @include v-spacing(height, 18px, 24px);

        span span {
          display: inline-block;
        }
      }

      @include media(">small") {
        display: flex;
      }
    }

    &-toggle-mob {
      display: block;
      position: absolute;
      right: 0;
      top: 5px;

      button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 19px;
        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
        transform-origin: center;
        pointer-events: none;
      }

      button.is-cooking {
        transform: rotate(-180deg);
      }

      .burger-slice {
        display: inline-block;
        width: 32px;
        height: 3px;
        background-color: var(--currentCOLTheme);
        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
        transform-origin: center;
      }

      .slice-one.is-cooking {
        transform: rotate(-45deg) translate(-6px, 6px);
      }

      .slice-two.is-cooking {
        transform: scaleX(0);
      }

      .slice-three.is-cooking {
        transform: rotate(45deg) translate(-6px, -5px);
      }

      @include media(">small") {
        display: none;
      }
    }
  }

  &__contact {
    @include grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    align-items: center;
    // opacity: 0;

    h1 {
      @include titleOnGrid;
      @include v-spacing(font-size, 32px, 76px);
      text-align: center;
      line-height: 1.16;
      pointer-events: all;
    }

    &-title-mask {
      overflow: hidden;
      display: block;
    }

    .animates {
      display: inline-block;
      transform: translateY(110%);
    }

    &-email {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      @include v-spacing(padding, $VSM2, $VSD4);
      @include v-spacing(font-size, 18px, 26px);
      line-height: 1;
      transform: translateY(100%);
      pointer-events: all;
    }
  }

  &__mobNav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;

    @include media(">small") {
      display: none;
    }
  }

  // &__expander {
  //   position: fixed;
  //   top: -100vw;
  //   right: -100vw;
  //   width: 240vw;
  //   height: 240vw;
  //   border-radius: 50%;
  //   transform: scale(0.1);
  //   z-index: 1;
  //   display: block;
  //   background-color: red;
  // }
}
