@import "../../node_modules/include-media/dist/_include-media.scss";
@import "reset";
@import "variables/variables",
        "variables/fonts",
        "variables/config",
        "variables/functions",
        "variables/mixins";



/* COMPONENTS */
@import "components/c-LogoLoader",
        "components/c-Header",
        "components/c-Footer",
        "components/c-Main",
        "components/c-MobNav.scss",
        "components/c-Introduction";

/* Layouts */

:root {
  --currentBGTheme: unset;
  --currentCOLTheme: unset;
  --currentSupportTheme: unset;
}


/* THEMES */
.themeOne {
  --currentBGTheme: #070e9e;
  --currentCOLTheme: #fff;
  --currentSupportTheme: #e8333c;

  .graphik-blue {
    display: none;
  }

  .graphik-brown {
    display: none;
  }
}

.themeOne.is-blue {
  .c-MobNav a {
    color: var(--currentBGTheme);
  }
}

.themeTwo {
  transition: color 0.5s ease;
  --currentBGTheme: #f2eeca;
  --currentCOLTheme: #070e9e;
  --currentSupportTheme: #ea27c2;

  .graphik-white {
    display: none;
  }

  .graphik-brown {
    display: none;
  }
}

.themeTwo.is-white {
  --currentCOLTheme: #ffffff;

  .c-MobNav__links a {
    color: #070e9e;
  }
}

.themeThree {
  transition: color 0.5s ease;
  --currentBGTheme: #ede04b;
  --currentCOLTheme: #b36924;
  --currentSupportTheme: #a4bcc2;

  .graphik-white {
    display: none;
  }

  .graphik-blue {
    display: none;
  }
}

.themeThree.is-white {
  --currentCOLTheme: #ffffff;

  .c-MobNav__links a {
    color: #b36924;
  }
}

.themeFour {
  --currentBGTheme: #000;
  --currentCOLTheme: #fff;
  --currentSupportTheme: #a4bcc2;

  .graphik-blue {
    display: none;
  }

  .graphik-brown {
    display: none;
  }
}

.themeFour.is-black {
  .c-MobNav a {
    color: var(--currentBGTheme);
  }
}

body {
  font-family: $f-title;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: var(--currentCOLTheme);
  background-color: var(--currentBGTheme);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--currentCOLTheme);
}

/* 
remove button styling
============================= */
button {
  @include button;
}